@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Barlow+Semi+Condensed:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272E;
}


header {
    background: white;
    padding: 20px;
}



header>h1{
    color: #24272E;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board {
    /* since the position is absolute for user labels so we have to make the score board relative */
    position: relative;
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 45px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
}

.badge{
    background: #E25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}


.result>p{
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}


.choices {
    /* margin: 50px 0; */
    margin-top: 50px;
    text-align: center;
}

.choice {
    border: 4px solid white;

    /* important line */
    display: inline-block;
    /* border-radius: 50%; */

    padding: 10px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.choice:hover{
    cursor: pointer;
    /* background: #24272E; */
    background: rgb(100, 99, 99);
}


#action-message{
    text-align: center;
    font-family: Asap, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    /* take note of the margin thing */
}


.green-glow{
    border: 4px solid #13df61;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow{
    border: 4px solid #f3190d;
    box-shadow: 0 0 10px #da3f0b;
}

.yellow-glow{
    border: 4px solid #f3e80d;
    box-shadow: 0 0 10px #dfed44;
}